 /* overall website page properties */
 body {
    background-color: #212529;
    color: #fff;
 }

 hr {
     background-color: #007bff;
     border-style: none;
     height: 2px;
     width: 30px;
 }

 h1 {color: #fff;}

 h2 {color: #fff;}

 h3 {color: #fff;}

 /* Links behavior colors */

 a:link {color: #f8f9fa;} /* unvisited link */

 a:visited {color: #f8f9fa;} /* visited link */

 a:hover {color: #f8f9fa;} /* mouse over link */

 a:active {color: #f8f9fa;} /* selected link */